body {
	font-family: 'Courgette', cursive;
	background-color: #593532;
}

.header > h1, h2 {
	font-size: 2em;
	display: inline;
	color : #F2D8CE;	
}

.header > h1 {
	font-size: 4em;
	font-family: 'Passion One', cursive;	
	margin-right: 1em;
}

.header {
	padding: 2em;
	margin-bottom: 2em;
	text-align: center;
}


p {
	border-radius:10px;
	border : 1px solid black;
		
}


.word, .definition {
	min-height:50px;
	height:100%;
	font-size: 2.2em;
	margin: .25em;
	background-color : #BF9D95;
	padding : .3em;
}

.word {
	font-family: 'Passion One', cursive;
	font-size: 2.4em;		
}

.spacer {
	min-height: 10px;
}

.selected {
	border : 3px solid green;
}

#score-button {
	margin: 0em 2em;
	border-radius: 5px;
	padding : 0.2em;
	font-size: 2.5em;
	background-color: #8C8379;
}

.result {
	display: inline;
	border: none;
	font-size: 3em;
	color : #F2D8CE;
}
.result p {
	display : inline;
	border : none;
	margin-right : 1em ;
}

.dot::before {
	font-size: .25em;
	vertical-align: middle;
}

.incorrect {
	border: 3px solid #FF5D33;
}
